* {
  margin: 0;
  padding: 0;
  font-size: 1.3rem;
  font-family: 'Inconsolata', monospace;
  font-weight: 300;
  outline: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.listContainer {
  display: flex;
  flex-direction: column;
  list-style: none;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
  width: 75vw;
}

.lineStyle {
  box-sizing: border-box;
  padding: 15px;
  border-bottom: 1.5px solid lightgray;
}

.clear {
  border-bottom: unset !important;
  display: flex;
  background-color: #f6f6f6;
}

.clear button {
  border: unset;
  background-color: unset;
  align-self: center;
  justify-content: center;
  width: 100%;
  color: #7b7b7b;
}

.input {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input {
  border: unset;
}

.list {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  justify-content: space-between;
}

input:focus {
  outline: none;
  width: 90%;
}

.checkbox {
  height: 15px;
  width: 15px;
  border: 3px solid lightgray;
  border-radius: 2px;
  transition: 0.5s;
}

.checked {
  border-left: none;
  border-top: none;
  width: 7.5px;
  border-color: #2e8ae6;
  transform: rotate(45deg) translate(5.5px, -8px);
  margin-right: 10.5px;
  transition: 0.5s;
}

.verticalDots {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-self: center;
  justify-self: end;
}

.dot {
  width: 5px;
  height: 5px;
  background-color: rgb(38, 192, 243);
  border-radius: 50%;
}

.elementList {
  display: flex;
  gap: 15px;
  align-items: center;
}

.lineThrough {
  text-decoration: line-through;
  color: #8c8c8c;
}

.arrow-ccw {
  background-color: rgb(38, 192, 243);
  -webkit-mask: url(./icons/arrows-ccw.svg) no-repeat center;
  mask: url(./icons/arrows-ccw.svg) no-repeat center;
  width: 15px;
  height: 15px;
  transition: 0.3s;
}

.headerList {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.enter {
  background-color: rgb(38, 192, 243);
  -webkit-mask: url(./icons/enter.svg) no-repeat center;
  mask: url(./icons/enter.svg) no-repeat center;
  width: 15px;
  height: 15px;
  border: none;
}

.remove {
  background-color: rgba(243, 241, 120, 0.925);
  transition: 0.3s;
}

.dnone {
  display: none !important;
}

.dblock {
  display: block !important;
}

img {
  display: none;
  content: url(./icons/trashCanIcon.png);
  width: 28px;
  height: 28px;
}

.reload {
  transform: rotate(180deg);
  transition: 0.3s;
}
